:root {
    --siueRed: #ef3829;
    --siueLightBrown: #cfaa7a;
    --siueBrown: #a68462;
    --siueDarkBrown1: #896532;
    --siueDarkBrown2: #5a471c;
    --gray: #212121;
    --darkGray: #0d0d0d;
    --green: #1ec700;
    --offwhite: #e6e6e6;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-family: monospace;
}

::-webkit-scrollbar {
    background-color: #00000000;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--siueRed);
    border-radius: 5px;
}

body {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
    /* border: 2px solid red; */
}

.logo-1,
.logo-2,
.logo-3,
.logo-4 {
    position: fixed;
    top: 0%;
    height: 5%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid red; */
}

.logo-2,
.logo-4 {
    justify-content: end;
    display: none;
    left: 50%;
}

.logo-3,
.logo-4 {
    top: 95%;
    display: none;
}

.logo-image {
    position: relative;
    height: 80%;
    margin: 1%;
    filter: invert(72%) sepia(47%) saturate(7406%) hue-rotate(75deg) brightness(150%) contrast(106%);
}

.terminalDir {
    color: rgb(0, 132, 255);
}

.terminalExec {
    color: green;
}

.terminalLink {
    color: cyan;
}

.terminalDevice {
    color: yellow;
    background-color: black;
}

.terminalImage {
    color: magenta;
}

.terminalArch {
    color: red;
}

p {
    font-size: 15px;
    cursor: default;
}

.terminalUser {
    color: var(--green);
}

.errorMessage {
    color: red;
}

.terminalCommand {
    color: var(--green);
}

.specialFont {
    user-select: none;
    /* For modern browsers */
    -webkit-user-select: none;
    /* For Safari */
    -moz-user-select: none;
    /* For Firefox */
    -ms-user-select: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.terminalTitle {
    font-size: 20px;
    text-decoration: underline;
}

.button {
    background-color: var(--gray);
    color: var(--offwhite);
    border-radius: 10px;
    border: 2px solid #00000000;
    padding-left: 1%;
    padding-right: 1%;
    width: min-content;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

@keyframes glowingText {
    0% {
        text-shadow: 0px 0px 10px rgb(30, 199, 0, 0.25), 0px 0px 20px rgb(30, 199, 0, 0.0), 0px 0px 30px rgb(30, 199, 0, 0.0);
    }

    50% {
        text-shadow: 0px 0px 10px rgb(30, 199, 0, 0.5), 0px 0px 20px rgb(30, 199, 0, 0.4), 0px 0px 30px rgb(30, 199, 0, 0.3);
    }

    100% {
        text-shadow: 0px 0px 10px rgb(30, 199, 0, 0.25), 0px 0px 20px rgb(30, 199, 0, 0.0), 0px 0px 30px rgb(30, 199, 0, 0.0);
    }
}

.glowtext {
    color: var(--green);
    animation: glowingText 2s linear infinite;
}

.error {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
}

.error-popup {
    position: relative;
    width: 50%;
    height: min-content;
    max-height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgrey);
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--red);
    border: 1px solid red;
}

.error-popup-text {
    position: relative;
    color: var(--white);
    font-size: 20px;
    height: min-content;
    padding-bottom: 0.5%;
}

.footer {
    position: relative;
    height: 30px;
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.footer-text {
    position: relative;
    font-size: 15px;
    color: var(--offwhite);
}